@media (max-width : 991px) {
    #careersitespro .careersitespro_main {
        font-size: 14px;
        line-height: 20px;
    }

    #careersitespro .ap_title {
        font-size: 30px;
        line-height: 30px;
        padding: 0 !important;
    }

    #careersitespro .ap_title_2,
    .ap_title_3 {
        font-size: 26px;
        line-height: 26px;
    }

    #careersitespro .ap_title_5 {
        font-size: 20px;
        line-height: 20px;
    }

    #careersitespro .ap_title_4 {
        font-size: 18px;
        line-height: 18px;
    }

    #careersitespro .right-sidebar {
        margin-top: 20px;
    }

    #careersitespro .right-sidebar .apply-now {
        display: none;
    }

    #careersitespro .search-job,
    #careersitespro .search-job.job-details {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    #careersitespro .search-input {
        margin-top: 5px;
    }

    #careersitespro .search-input input,
    #careersitespro .search-input select,
    #careersitespro .search-input button {
        margin-top: 5px;
    }

    #careersitespro .joblist li {
        padding: 10px;
    }

    #careersitespro .joblist li h4 {
        margin-bottom: 7px;
    }

    #careersitespro .mt-40 {
        margin-top: 20px;
    }

    #careersitespro .mb-50 {
        margin-bottom: 25px;
    }

    #careersitespro .news-details h2,
    #careersitespro .news-details h3 {
        margin-bottom: 10px;
        padding-bottom: 8px;
    }

    #careersitespro .news-details .job-time {
        margin-bottom: 10px;
    }

    #careersitespro p {
        margin-bottom: 10px;
    }

    #careersitespro .news-details ul,
    #careersitespro .news-details ol {
        margin-bottom: 10px;
    }

    #careersitespro .apply-now a {
        margin-bottom: 15px;
    }

    #careersitespro .applicant {
        margin-top: 5px;
    }

    .ap-col-3 {
        width: 100%;
    }

    .applicant_job_search .ap-col-3 {
        margin-top: 5px;
    }

    .ap_render {
        margin-top: 20px;
    }

    .applicant-city {
        margin-top: 30px;
    }

    #careersitespro .svgMap {
        padding-top: 10px;
    }

    .leftCol,
    .news-details {
        width: 100%;
    }

    .ap_render {
        margin-bottom: 40px;
    }

    .right-sidebar {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #careersitespro .apply-now.apply-bottom {
        margin: 20px auto 0;
    }

    #careersitespro .news-details .apply-now.apply-bottom a {
        margin-bottom: 0;
    }
}

@media (max-width : 800px) {}

@media (max-width : 767px) {

    #careersitespro .ap_title {
        font-size: 24px;
        line-height: 24px;
    }

    #careersitespro .ap_title_2,
    .ap_title_3 {
        font-size: 20px;
        line-height: 20px;
    }

    #careersitespro .ap_title_5 {
        font-size: 18px;
        line-height: 18px;
    }

    #careersitespro .ap_title_4 {
        font-size: 16px;
        line-height: 16px;
    }

    #careersitespro .joblist {
        margin-top: 10px;
    }

    #careersitespro .joblist li {
        padding: 10px 0;
    }

    #careersitespro .social-media a {
        font-size: 30px;
        margin-right: 4px;
    }

}

@media (max-width : 450px) {
    #careersitespro .job-time span {
        display: block !important;
        margin-left: 0 !important;
        margin-top: 3px !important;
    }
}
