@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
article {
	display: block
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none
}

:focus {
	outline: 0
}

::-moz-focus-inner {
	border: 0;
	outline: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both
}

.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0
}

.cf {
	display: inline-block
}

* html .cf {
	height: 1%
}

.cf {
	display: block
}

#careersitespro {
	letter-spacing: normal;
	background-color: #fff;
	width: 100%;
	max-width: 100%;
}

#careersitespro a {
	text-decoration: none;
}

#careersitespro .careersitespro_main {
	letter-spacing: normal;
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px !important;
	font-size: 16px;
	line-height: 22px;

	color: #000;
}

#careersitespro .light-blue {
	background: rgba(21, 123, 224, 0.45);
	border-bottom: 1px solid #ccc !important;
}

#careersitespro .search-job {
	padding: 20px 0 32px !important;
}

#careersitespro .ap_title {
	padding: 0 0 13px !important;
	font-size: 36px;
	line-height: 44px;
	color: #333;
	margin: 0 !important;
}

.search-input,
.ap_row {
	margin: 0 -15px;
}

.ap-col-3 {
	float: left;
	width: 25%;
	padding: 0 15px
}

.ap-row {
    float: left;
    width: 100%;
    padding: 8px;
}

.search-input input.ap-control,
.search-input select.ap-control {
	margin: 0 !important;
	font-size: 18px !important;
	line-height: 18px !important;
	min-height: inherit !important;
	height: 46px !important;
	padding: 11px 15px !important;
	width: 100% !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	background-color: rgb(255, 255, 255) !important;
}

.applicant_search_btn {
	background: #cd2653;
	margin: 0 !important;
	font-size: 18px !important;
	line-height: 18px !important;
	min-height: inherit !important;
	height: 46px !important;
	padding: 11px 15px !important;
	width: 100% !important;
	text-align: center;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 0 !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
}

.applicant_search_btn:hover {
	text-decoration: none;
}

.ap_render {
	min-height: 350px;
	margin: 40px auto 88px;
}

#careersitespro .svgMap {
	padding: 40px 0 0;
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
}

#careersitespro .svgMap svg {
	max-width: 100%;
	width: 100%;
	height: auto !important;
}

#careersitespro .svgMap path {
	cursor: pointer;
}

.applicant-city {
	margin-top: 80px;
}

.ap_title_2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #333;
	margin-bottom: 8px;
}

#careersitespro .applicant-city a {
	margin: 9px 5px 0 5px;
	background: #F39500;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
	line-height: 29px;
	padding: 0 10px !important;
	text-decoration: none;
	min-width: 117px;
	height: 29px;
	display: inline-block;
	text-align: center;
}

#careersitespro .applicant-city a.active,
#careersitespro .applicant-city a:focus,
#careersitespro .applicant-city a:hover {
	opacity: 0.9;
	color: #fff;
}

.applicant-power {
	margin: 44px 50px 0 0;
	text-align: right;
}

.applicant-power {
	float: right;
}

.leftCol,
.news-details {
	float: left;
	width: 66.67%;
	padding: 0 15px;
}

.right-sidebar {
	float: left;
	width: 33.33%;
	padding: 0 15px;
}

#careersitespro .opening-job {
	background: rgba(229, 229, 229, .45);
	border: 1px solid #ccc;
	padding: 13px 15px 14px 31px;
	margin-bottom: 30px;
}

#careersitespro .opening-job .city_list {
	margin-left: -10px;
}

#careersitespro .opening-job .city_list label {
	display: inline-block !important;
	cursor: pointer;
	position: relative;
	background: #fff;
	border: 1px solid #c0c0c0;
	-moz-border-radius: 14.5px;
	webkit-border-radius: 14.5px;
	border-radius: 14.5px;
	padding: 0 10px !important;
	margin: 0 0 10px 10px;
	font-size: 16px;
	line-height: 29px;
	height: 29px;
	min-width: 117px;
	text-align: center;
	font-weight: 400;
}

#careersitespro .opening-job .city_list label input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
}

.ap_title_3 {
	font-size: 30px;
	line-height: 37px;
	color: #000;
	margin: 0;
	padding: 0;
}

#careersitespro .joblist {
	margin-top: 20px;
	border-top: 1px solid #c0c0c0;
}

#careersitespro .joblist ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}

#careersitespro .joblist li {
	border-bottom: 1px solid #c0c0c0;
	padding: 16px 15px 22px;
	line-height: normal;
	list-style: none;
	margin: 0;
}

#careersitespro .job-time {
	display: flex;
	align-items: center;
}

#careersitespro .job-time span {
	font-size: 14px !important;
	line-height: 17px !important;
	color: #647180 !important;
	display: inline-block !important
}

#careersitespro .job-time span:first-child {
	margin-left: 0 !important;
}

#careersitespro .job-time i {
	margin-right: 6px;
	color: #081a49;
}

.ap_title_4 {
	font-size: 20px;
	line-height: 27px;
	color: #F39500;
	margin: 0 0 11px;
	padding: 0;
}

.ap_title_4 a {
	color: #F39500;
	text-decoration: none;
}

.ap_title_4 a:hover {
	opacity: 0.9;
}

.applicant-power.mr-0 {
	margin-right: 0;
}

.ap_title_5 {
	font-size: 24px;
	line-height: 29px;
	color: #000;
	margin: 0;
	padding: 0;
}

.ap_title_5 a {
	color: #000;
}

.ap_title_5 a:hover {
	opacity: 0.9;
}

#careersitespro .search-job.job-details {
	padding: 22px 0 !important;
}

.news-details,
.right-sidebar {
	margin-top: 32px;
}

.news-details .ap_title_3 {
	border-bottom: 1px solid #D4D4D4;
	padding-bottom: 9px;
	margin-bottom: 20px;
}

.news-details .job-time {
	margin-bottom: 27px;
}

.news-details .ap_title_5 {
	padding-bottom: 5px;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 16px;
}

.ap_title_6 {
	font-size: 16px;
	line-height: 19px;
	color: #1D1D1D;
	margin-bottom: 12px;
}

#careersitespro .job-description {
	border-bottom: 1px solid #d4d4d4;
}

#careersitespro .job-description p,
#careersitespro .job-description span {
	font-size: 16px !important;
	line-height: 19px !important;
	letter-spacing: normal !important
}

#careersitespro .job-description img {
	margin: 0 auto;
	max-width: 100%
}

#careersitespro .news-details ol,
#careersitespro .news-details ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#careersitespro .news-details ol li,
#careersitespro .news-details ul li {
	padding: 0
}

#careersitespro .news-details ul li {
	padding: 0 0 0 10px !important;
	position: relative;
	list-style: none;
	margin: 0 0 0 5px !important;
	line-height: 19px !important;
}

#careersitespro .news-details ul li:before {
	content: '-';
	position: absolute;
	left: 0;
	top: -3px
}

#careersitespro .news-details ol li {
	list-style: decimal;
	margin-left: 15px
}

#careersitespro .italic {
	font-size: 12px;
	line-height: normal;
	font-style: italic
}

#careersitespro .social-media {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 15px;
}

#careersitespro .social-media a {
	display: inline-block;
	margin-right: 8px;
	font-size: 40px
}

#careersitespro .social-media a:last-child {
	margin-right: 0
}

#careersitespro .social-media a:hover {
	opacity: .8
}

.right-sidebar .applicant-power {
	margin: 20px 0 0 0;
}

#careersitespro .apply-now.apply-bottom {
	max-width: 346px;
	margin-top: 20px
}

#careersitespro .apply-now.apply-bottom a {
	margin-bottom: 25px
}

#careersitespro .apply-now a,
#careersitespro .careersitespro_main button {
	color: #fff;
	border: 0;
	font-size: 18px;
	text-align: center;
	width: 100%;
	padding: 11px 15px;
	height: 46px;
	font-weight: 400;
	line-height: 22px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	letter-spacing: normal;
	text-transform: none;

}

#careersitespro .apply-now a,
#careersitespro .careersitespro_main button:focus,
#careersitespro .careersitespro_main button:hover {
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#careersitespro .apply-now a {
	background: #f39500;
	display: block;
	margin-bottom: 32px;
	text-decoration: none
}

#careersitespro .apply-now a:hover {
	background: #081a49
}

#careersitespro .leftCol .applicant-power {
	margin-bottom: 0;
}

/* New fancy icons instead of Font-Awesome */
#careersitespro .icon {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	top: -4px;
	vertical-align: text-top;
}

#careersitespro .icon.large {
	width: 35px;
	height: 35px;
}

#careersitespro .icon .icon-clock     { fill: #647180; }
#careersitespro .icon .icon-location  { fill: #647180; }
#careersitespro .icon .icon-twitter   { fill: #30caf8; }
#careersitespro .icon .icon-linkedin  { fill: #0077b5; }
#careersitespro .icon .icon-facebook  { fill: #466198; }
